html,
body {
  margin: 0;
  padding: 0;
}
body {
  color: #4d4d4d;
  width: 500px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
h1, h2, h4 {
  padding: 0px;
  margin: 0px;
}
input, textarea {
  display: block;
  height:30px;
  width: 400px;
  margin: 0px 0px 8px 0px;
  border: 1px solid #989898;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #676767;
}
textarea {
  height: 150px;
}
button {
  margin: 0px 20px 0px 0px;
  padding: 0px;
  border: 0px;
  background: none;
  color: #ff9900;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  vertical-align: baseline;
  -webkit-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  cursor: pointer;
}
label {
  display: block;
  font-weight: 400;
  font-size: 16px;
  font-style: italic;
}
h1{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 44px;
  font-style: italic;
}
#new-container {
  display: none;
  margin: 20px 0px 0px 0px;
}
#list-container {
  position: relative;
  float:left;
  margin: 50px 50px 0px 0px;
  width: 100px;
  overflow-x: hidden;
}
#list-container button {
  margin: 0px;
}
#list-container ul {
  margin: 5px 0px 0px 0px;
  padding: 0px;
}
#list-container li {
  list-style: none;
  text-align: right;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 24px;
}
#list-container li span {
  cursor: pointer;
  color: #afafaf;
  border-bottom: 1px dotted #ccc;
  padding: 0px 20px 0px 0px;
}
#list {
  height: 360px;
  width:100px;
  overflow-x: hidden;
  overflow-y: scroll;
  --direction: rtl;
}
#display-container {
  position: relative;
  float:left;
  max-width: 350px;
}
#display-container h2 {
  font-weight: 400;
  font-style: italic;
  color: #959595;
}
#display-container p {
  font-weight: 300;
  color: #4d4d4d;
}
#term-container {
  margin: 78px 0px 0px 0px;
}
#edit-container {
  display: none;
  margin: 26px 0px 0px 0px;
  word-wrap: break-word;
}
.blank-fld-msg {
  visibility: hidden;
  margin: 0px 0px 10px 0px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  color: red;
}
