<div id="new-container">
  <h4 id="new-blank-msg" class="blank-fld-msg">Complete all fields before submitting.</h4>
  <form action="#" id="term-form">
      <label for="acronym">Acronym</label><input type="text" id="acronym">
      <label for="term">Term</label><input type="text" id="term">
      <label for="description">Description</label><textarea id="description"></textarea>
      <button id="add">ADD</button>
      <button id="cancel-add">CANCEL</button>
  </form>
</div>

<div id="list-container">
  <button id="new-term">ADD</button>
  <ul id="list"></ul>
</div>

<div id="display-container" ></div>
